
<div class="container">
  <form [formGroup]="form" (ngSubmit)=onSubmit()>
    <fieldset>
      <legend>Login</legend>
      <div>
        <label>Username</label>
        <input type="text" formControlName="username" name="username">
        <div *ngIf="form.controls['username'].hasError('required') 
        && form.controls['username'].touched"> Please enter username</div>
      </div>
      <div>
        <label>Password</label>
        <input type="password" formControlName="password" name="password">
        <div *ngIf="form.controls['password'].hasError('required') 
        && form.controls['password'].touched"> Please enter password</div>
      </div>
    </fieldset>
    <div class="from-buttons">
      <button class="button button-primary" [disabled]="form.invalid">Login</button>
      <div *ngIf="invalidLogin">Invalid Username or Password. Please try again</div>
    </div>
  </form>
</div>

