

<div *ngIf="message && sentByUser" class="d-flex justify-content-start mb-4 ">
  <div class="d-flex align-items-center">
    <div class="img-container">
      <img src={{imagePath}}/>
    </div>
    <div class="msg-container">
      {{message.content}}
      <span class="msg-time">{{timeSent | date:'short'}}</span>
    </div>
  </div>
</div>
<div *ngIf="message && !sentByUser" class="d-flex justify-content-end mb-4 ">
  <div class="d-flex align-items-center">
    <div class="msg-container-sent">
      {{message.content}}
      <span class="msg-time-sent">{{message.sentAt | date:'short'}}</span>
    </div>
    <div class="img-container">
      <img src={{imagePath}}/>
    </div>
  </div>
</div>