
.msg-container{
    margin-left: 10px;
    border-radius: 25px;
    padding: 10px;
    position: relative;
    color:white;
    background-color: #F47D4A;
}

.msg-container-sent{
    margin-right: 10px;
    border-radius: 25px;
    padding: 10px;
    position: relative;
    color:white;
    background-color: #010101;
}

.msg-time-sent{
    position: absolute;
    right: 4px;
    bottom: -15px;
    color: #010101;
    font-size: 10px;
    min-width: 200px;
    text-align: right;
}

.msg-name-sent{
    position: absolute;
    right: 12px;
    top: -30px; 
    margin-bottom: 10px;
    margin-top: 10px;
    color: #010101;
    font-size: 15px;
    min-width: 100px;
    text-align: right;
}

.msg-name{
    position: absolute;
    left: 12px;
    top: -30px; 
    margin-bottom: 10px;
    margin-top: 10px;
    color: #010101;
    font-size: 15px;
    min-width: 100px;
    text-align: left;
}


.msg-time{
    position: absolute;
    left: 4px;
    bottom: -15px;
    color: #010101;
    font-size: 10px;
    min-width: 200px;
}

.img-container{
    background-color: #F47D4A;
    border-radius: 25px;
}

.img-chat {
 height:  100%;
 width: 100%;
 border-radius: 25px;
}