
.msg-container{
    margin-left: 10px;
    border-radius: 25px;
    padding: 10px;
    position: relative;
    color:white;
    background-color: #F47D4A;
}

.msg-container-sent{
    margin-right: 10px;
    border-radius: 25px;
    padding: 10px;
    position: relative;
    color:white;
    background-color: #010101;
}

.msg-time-sent{
    position: absolute;
    right: 4px;
    bottom: -15px;
    color: #010101;
    font-size: 10px;
    min-width: 200px;
    text-align: right;
}

.msg-time{
    position: absolute;
    left: 4px;
    bottom: -15px;
    color: #010101;
    font-size: 10px;
    min-width: 200px;
}