.login {
    width: 100%;
}

 .nav{
     width: 30%;
     margin-right: 10%;
 }

.navbar-nav .nav-item {
    padding-left: 10%;
    padding-right: 10%;
}

.navbar-nav .nav-link {
    padding-right: 60px;
    color: black;
    font-weight: bolder;
}

