<ngx-spinner></ngx-spinner>
<div class="container mt-5">
  <div class="d-flex justify-content-center">
    <div class="alert alert-danger mt-3 mb-3" *ngIf="invalidForm" ng-reflect-ng-class="alert alert-danger">A new Room
      must have a name.</div>
  </div>
  <div class="d-flex justify-content-center">
    <form class="w-25" [formGroup]="roomForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="input-room-name">Room name</label>
        <input id="input-room-name" class="form-control" formControlName="roomName" placeholder="E.g 'The Cool room'">
      </div>
      <div class="form-group d-flex justify-content-between">
        <button id="button-create-room" type="submit" class="btn  btn-outline-dark">Create Room</button>
        <div *ngIf="rooms.length > 0" ngbDropdown class="d-inline-block">
          <button id="dropdown-join-room" type="button" class="btn btn-outline-dark"  ngbDropdownToggle>Join Room</button>
          <div ngbDropdownMenu aria-labelledby="drop-down-join-room">
            <button id="{{room.name}}" type="button" ngbDropdownItem *ngFor="let room of rooms"
              (click)="onjoinRoom(room)">{{room.name}}</button>
          </div>
        </div>
      </div>
    </form>
  </div>