
.baige {
  background-color: #ebe6e3;
}

.orange{
  background-color: #F47D4A;
}

.grey {
  background-color: #DDD1CC
}

.black {
  background-color: #010101;
}

.white{
  background-color: #F5F2F1;
}

.full-height {
  height: 100vh;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}


